<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" parallel="methods">
    <test name="TestOnFirefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.tutorial.seleniumgriddocker.testsuites.GoogleSearchTest"/>
        </classes>
    </test>
    <test name="TestOnChrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.tutorial.seleniumgriddocker.testsuites.GoogleSearchTest"/>
        </classes>
    </test>
</suite>